<div class="conteudo-home">
    <div class="lista-home">
        <div class="container">
            <h1>Bem-vindo à Página Inicial do Accenture Desafio</h1>

            <div class="icon-container">
                <a routerLink="/empresas">
                    <img src="assets/images/empresa-icon.png" alt="Empresa" class="icon" />
                    <p style="font-size: 24px; font-weight: bold;">Empresas</p>
                </a>
                
                <a routerLink="/fornecedor">
                    <img src="assets/images/fornecedor-icon.png" alt="Fornecedor" class="icon" />
                    <p style="font-size: 24px; font-weight: bold;">Fornecedores</p>
                </a>
            </div>
        </div>
    </div>
</div>
